.DBXFF-review-text {
    white-space: break-spaces;
    font-family: inherit;
    font-size: initial;
    background-color: #d2def5;
    padding: 25px 10px;
    margin: 0;
    transform: .2 ease-in-out;
    border-radius: 5px;
    margin: 2.5px;
    
}

.DBXFF-review-text:hover {
    background-color: #c8d9f8;
    transition: .2s ease-in-out;
}

.DBXFF-pill {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 4px 8px;
    border-radius: 99px;
    font-size: 0.8rem;
}

.DBXFF-pass {
    color: green;
    border: 1px solid green;
    
}

.DBXFF-resub {
    color: red;
    border: 1px solid red;
}